<!doctype html>
<html>
<head>
    <title>Begin</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="pageTitleBar content-block">
        <span><h1>Duck Enrollment</h1></span>
        <div class = "check1">
            <img  src="../static/grayCheck.png">
            <p class="step1">Begin</h1>
            </div>

            <div class = "check2">
                <img  src="../static/grayCheck.png">
                <p class="step2">Record </h1>

                </div>

                <div class = "check3">
                    <img  src="../static/grayCheck.png">
                    <p class="step3">Enroll </h1>

                    </div>
                </div>

                <div>
                    <p id='introP'>Click to Begin</p>
                    <br/>
                    <form method="post">
                        <input id="beginButton" class="enrollButton hvr-grow" type="submit" name='beginEnrollment' value="Begin">
                    </form>
                </div>
            </body>
            </html>