<!doctype html>
<html>
<head>
	<title>Duck Sign Up</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="pageTitleBar">
		<span>Duck Enrollment</span>
	</div>
	<div>
		<h1>Fill in the following Input Fields and then Submit</h1>
		<div id="enrollUserInfoDiv">
			<form class="center" method="post">
				<input type="text" placeholder="First Name" name="first-name">
				<br/>
				<br/>
				<input type="text" placeholder="Last Name" name="last-name">
				<br/>
				<br/>
				<input type="text" placeholder="Parent's Phone Number" name="phone-number">
				<br/>
				<br/>
				<input type="text" placeholder="Email" name="email-address">
				<br/>
				<br/>
				<input class="hvr-grow recordVoiceButton" type="submit" name='enrollUserInfo' value="Click To Enroll User Info">
			</form>
		</div>
	</div>
</body>
</html>