<!doctype html>
<html>
<head>
    <title>Duck Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="pageTitleBar content-block">
        <span><h1>Duck Enrollment</h1></span>
        <div class = "check1">
            <img  src="../static/greenCheck.png">
            <p class="step1">Begin</h1>
            </div>

            <div class = "check2">
                <img  src="../static/greenCheck.png">
                <p class="step2">Record </h1>

                </div>

                <div class = "check3">
                    <img  src="../static/grayCheck.png">
                    <p class="step3">Enroll </h1>

                    </div>
                </div>

                <form class="center" method="post">
                    <div class="inputContainer">

                        <div class="input1">
                            <p>First name</p>
                            <input class="signUpInput" type="text" name="first-name" required>
                        </div>
                        <div class="input2">
                            <p>Last Name</p>
                            <input class="signUpInput" type="text" name="last-name" required>
                        </div>

                    </div>
                    <div class="fullSizeInputs">

                        <p>Email</p>
                        <input class = "fullWidthInput" type="text" name="email-address">

                        <p>Phone Number #</p>
                        <input class = "fullWidthInput" type="text" name="phone-number">
                        <br>
                        <br>
                        <input id ="submit" name='enrollUserInfo' type="submit" value="Enroll">
                        <br>

                    </div>
                </form>
            </body>
            </html>