<!DOCTYPE html>
<html>
	<head>
		<title>RecordVoice</title>
		<link rel="stylesheet" href="../static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="pageTitleBar content-block">
			<span><h1>Duck Enrollment</h1></span>
			<div class = "check1">
				<img  src="../static/greenCheck.png">
				<p class="step1">Begin</h1>
			</div>

			<div class = "check2">
				<img  src="../static/grayCheck.png">
				<p class="step2">Record </h1>
			</div>

			<div class = "check3">
				<img  src="../static/grayCheck.png">
				<p class="step3">Enroll </h1>
			</div>
		</div>

		<div id="enrollmentContainer">
			<p id="firstInstruction">Record yourself saying each phrase once.</p>
			<!--             <form id="enteringEnrollmentForm" method="post" onsubmit="setRecordingStatus()">
			<button class="recordVoiceButton" type="submit" name="enrollVoice" value=" ">
			<img class = "micImg" src="../static/mic.png">
			</button>
			=            </form>
			-->            
			<p id="phrase">Say, "Hey Duck I'm Entering!"</p>

			<div class="recStatusContainer">
				<label>Amount of time needed to record:</label>
				<p id="numEnrolled">{{numberOfTimesEnrolled}}</p>
			</div>

			<div>
				<form method="post">
					<button id="recordVoiceButton" type="submit" name="enrollVoice" value=" ">
					<img class = "micImg" src="../static/mic.png">
					</button>
				</form>
			</div>
			<!-- I changed the recStatus Container into a class. -->
			<!-- I put the number of times enrolled Above . -->
			<div class="recStatusContainer">
				<p id="recordingStatusText">Not Recording...</p>
			</div>
		</div>

		<script>
			rvc = document.getElementById('recordVoiceButton')

			function startRecording(){
				rvc.style.backgroundColor = "red"
				document.getElementById('recordingStatusText').innerHTML = "Recording..."
			}

			

			function finishRecordng(){

				rvc.style.backgroundColor = "#6FCF97"
				document.getElementById('recordingStatusText').innerHTML = "Processing..."

			}

			var timesEnrolled = (document.getElementById('numEnrolled').innerHTML).split("Amount of time needed to record:")
			console.log(timesEnrolled)
			initLeavingPhrase1 = timesEnrolled[0].includes("1")
			initLeavingPhrase2 = timesEnrolled[0].includes("2")
			initLeavingPhrase3 = timesEnrolled[0].includes("3")

			if (initLeavingPhrase1){
				console.log("works")
				document.getElementById("phrase").innerHTML = "Hey Duck I'm Leaving!"
			}
			if (initLeavingPhrase2){
				console.log("works")
				document.getElementById("phrase").innerHTML = "Hey Duck I'm Leaving!"
			}
			if (initLeavingPhrase3){
				console.log("works")
				document.getElementById("phrase").innerHTML = "Hey Duck I'm Leaving!"
			}


			rvc.onclick = function(){
				startRecording()
				setTimeout(finishRecordng, 5000)
			}



		</script>

	</body>
</html>