<!doctype html>
<html>
<head>
	<title>Duck Sign Up</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="pageTitleBar">
		<h1>Duck Enrollment</h1>
	</div>
	<form class="center" method="post">
		<input type="text" name="first-name" placeholder="First Name" required>
		<br/>
		<input type="text" name="last-name" placeholder="Last Name" required>
		<br/>
		<input type="submit" name="recordVoice" value="Record your Voice"/>
		<input type="submit" name="enrollAudio" value="Enroll Audio"/>
	</form>
</body>
</html>